h1{
    color:rgb(248, 244, 248);
    font-size:70px; 
    padding-top:10%;
    
}
#yeay{
    background-color: rgb(40, 43, 51);
    background-size: cover;
    height:580px;
    width: 1280px;
    background-repeat: no-repeat;

}
nav{
    position: sticky;
}
