h1{
    color:rgb(248, 244, 248);
    font-size:70px; 
    padding-top:10%;
    
}
#yeay{
    background-image:url("/static/images/martin-shreder-5Xwaj9gaR0g-unsplash.jpg");
    background-size: cover;
    height:680px;
    width: 1280px;
    background-repeat: no-repeat;

}
#navbar{
    overflow: hidden;
    background-color: #333;
}
