{% extends 'base.html' %}
{% block content %}
<div id="yeay">
<h1 class="text-center"> WELCOME TO AWWARDS</h1>
</div>
{% for project in projects %} 
<div class="card-columns">
    <div class="card ">
      <div class="card-body text-center">
          <img class="card-img-top" src="{{project.image.url}}" alt="Card image" height="300vh">
         
        <h4 class="card-title">{{project.title}}</h4>
       
        <p class="card-text">{{project.description}}</p>
        <p class="card-text">Project by:{{project.editor}}</p>
        <a href="{{project.link}}" class="btn btn-primary">View project</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}