{% extends 'base.html' %}
{% block content %}
<div id="yeay">
<h1 class="text-center"> WELCOME TO AWWARDS</h1>
</div>
<div class="card-columns">
  {% for project in images %} 
    <div class="card mt-2" style="width:400px; height:400px">
      <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href="{{project.link}}" class="btn btn-primary">View project</a>
      </div>
</div>
{%endfor%}
</div>
{% endblock content%}
