{% extends 'base.html' %}
{% block content %}
<div id="yeay">
<h1 class="text-center">HELLO , WELCOME TO AWARDS</h1>
</div>
{% for project in images %} 
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="card" style="width:500px">
  <img class="card-img-top" src="{{project.image.url}}" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">{{project.title}}</h4>
    <p class="card-text">{{project.description}}</p>
    <a href="{{project.link}}" class="btn btn-primary">View project</a>
  </div>
</div>
</div>
</div>
</div>
{%endfor%}
{% endblock content%}