<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Awards</a>
    </div>
    <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
           
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
             
                    
                 
                    <a href="/accounts/password/change">ChangePassword</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                    <a href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/profile">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/upload">Post</a>

              
            {% else %}
           
              <a class='btn btn-default' href="/accounts/login">Login</a>
            

            {% endif %}
          </div>
  </div>
</nav>
