{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="mimi">
<div class="content-section">
    <div class="media">
        <img  class="rounded-circle" src="{{user.profile.profile_pic.url}}" alt="" height="200px" width="200px">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            
            <a class='btn btn-primary' href="/update">Update Profile</a>

        </div>

    </div>

</div>
</div>
{% endblock %}